version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongo_container
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin     
      MONGO_INITDB_ROOT_PASSWORD: 123
      MONGO_INITDB_DATABASE: UserDatabase
    ports:
      - "27017:27017"  
    volumes:
      - mongo-data:/data/db

  api:
      build:
        context: ./api/api    # Caminho para a API
        dockerfile: Dockerfile
      container_name: api_container
      ports:
        - "8899:8080"       # Mapeia a porta da API para o host
      depends_on:
        - mongodb         
      environment:
        - ASPNETCORE_ENVIRONMENT=Development
      networks:
        - mynetwork

volumes:
  mongo-data:
    driver: local

networks:
  mynetwork:
    driver: bridge